<label for="exampleFormControlTextarea1">Load pgn from text: </label>
<textarea #pgnInput class="form-control w-96" id="exampleFormControlTextarea1" rows="3"></textarea>
<button (click)="loadPgn(pgnInput.value)" class="btn btn-secondary">Load</button>
<div>

    <table class="chess-board mt-5">
        <tbody>
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>
            <tr>
                <th>8</th>
                <td class="light" id="a8"><img src={{board[0][7]}}> </td>
                <td class="dark" id="a8"><img src={{board[0][1]}}> </td>
                <td class="light" id="a8"><img src={{board[0][2]}}> </td>
                <td class="dark" id="a8"><img src={{board[0][3]}}> </td>
                <td class="light" id="a8"><img src={{board[0][4]}}> </td>
                <td class="dark" id="a8"><img src={{board[0][5]}}> </td>
                <td class="light" id="a8"><img src={{board[0][6]}}> </td>
                <td class="dark" id="a8"><img src={{board[0][7]}}> </td>
            </tr>
            <tr>
                <th>7</th>
                <td class="dark" id="a8"><img src={{board[1][0]}}> </td>
                <td class="light" id="a8"><img src={{board[1][1]}}> </td>
                <td class="dark" id="a8"><img src={{board[1][2]}}> </td>
                <td class="light" id="a8"><img src={{board[1][3]}}> </td>
                <td class="dark" id="a8"><img src={{board[1][4]}}> </td>
                <td class="light" id="a8"><img src={{board[1][5]}}> </td>
                <td class="dark" id="a8"><img src={{board[1][6]}}> </td>
                <td class="light" id="a8"><img src={{board[1][7]}}> </td>
            </tr>
            <tr>
                <th>6</th>
                <td class="light"><img src={{board[2][0]}}> </td>
                <td class="dark"><img src={{board[2][1]}}> </td>
                <td class="light"><img src={{board[2][2]}}> </td>
                <td class="dark"><img src={{board[2][3]}}> </td>
                <td class="light"><img src={{board[2][4]}}> </td>
                <td class="dark"><img src={{board[2][5]}}> </td>
                <td class="light"><img src={{board[2][6]}}> </td>
                <td class="dark"><img src={{board[2][7]}}> </td>
            </tr>
            <tr>
                <th>5</th>
                <td class="dark"><img src={{board[3][0]}}> </td>
                <td class="light"><img src={{board[3][1]}}> </td>
                <td class="dark"><img src={{board[3][2]}}> </td>
                <td class="light"><img src={{board[3][3]}}> </td>
                <td class="dark"><img src={{board[3][4]}}> </td>
                <td class="light"><img src={{board[3][5]}}> </td>
                <td class="dark"><img src={{board[3][6]}}> </td>
                <td class="light"><img src={{board[3][7]}}> </td>
            </tr>
            <tr>
                <th>4</th>
                <td class="light"><img src={{board[4][0]}}> </td>
                <td class="dark"><img src={{board[4][1]}}> </td>
                <td class="light"><img src={{board[4][2]}}> </td>
                <td class="dark"><img src={{board[4][3]}}> </td>
                <td class="light"><img src={{board[4][4]}}> </td>
                <td class="dark"><img src={{board[4][5]}}> </td>
                <td class="light"><img src={{board[4][6]}}> </td>
                <td class="dark"><img src={{board[4][7]}}> </td>
            </tr>
            <tr>
                <th>3</th>
                <td class="dark"><img src={{board[5][0]}}> </td>
                <td class="light"><img src={{board[5][1]}}> </td>
                <td class="dark"><img src={{board[5][2]}}> </td>
                <td class="light"><img src={{board[5][3]}}> </td>
                <td class="dark"><img src={{board[5][4]}}> </td>
                <td class="light"><img src={{board[5][5]}}> </td>
                <td class="dark"><img src={{board[5][6]}}> </td>
                <td class="light"><img src={{board[5][7]}}> </td>
            </tr>
            <tr>
                <th>2</th>
                <td class="light"><img src={{board[6][0]}}> </td>
                <td class="dark"><img src={{board[6][1]}}> </td>
                <td class="light"><img src={{board[6][2]}}> </td>
                <td class="dark"><img src={{board[6][3]}}> </td>
                <td class="light"><img src={{board[6][4]}}> </td>
                <td class="dark"><img src={{board[6][5]}}> </td>
                <td class="light"><img src={{board[6][6]}}> </td>
                <td class="dark"><img src={{board[6][7]}}> </td>
            </tr>
            <tr>
                <th>1</th>
                <td class="dark"><img src={{board[7][0]}}> </td>
                <td class="light"><img src={{board[7][1]}}> </td>
                <td class="dark"><img src={{board[7][2]}}> </td>
                <td class="light"><img src={{board[7][3]}}> </td>
                <td class="dark"><img src={{board[7][4]}}> </td>
                <td class="light"><img src={{board[7][5]}}> </td>
                <td class="dark"><img src={{board[7][6]}}> </td>
                <td class="light"><img src={{board[7][7]}}> </td>
            </tr>
        </tbody>

    </table>

    <button class="h-10 px-6 font-semibold rounded-md bg-black text-white ml-4 mt-4"
        (click)="movePiece()">FORWARD</button>
    <button class="h-10 px-6 font-semibold rounded-md bg-black text-white ml-4 mt-4" (click)="moveBackwards()">BACK</button>

</div>
<app-tracker></app-tracker>